.timeline-custom .ant-timeline-item-head {
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
}

.timeline-custom .ant-timeline-item-head-custom {
  background: transparent !important;
  padding: 0 !important;
}

.timeline-custom .ant-timeline-item-tail {
  border-left: 2px solid #e8e8e8 !important;
}
